nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    a.navbar-brand(href='#') Thai Tones
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Words
          ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            li
              a.dropdown-item(href='/cards/maa') Maa
            li
              a.dropdown-item(href='/cards/yaa') Yaa
            li
              a.dropdown-item(href='/cards/sii') Sii
            li
              a.dropdown-item(href='/cards/seuua') Seuua
            li
              a.dropdown-item(href='/cards/san') San
            li
              a.dropdown-item(href='/cards/sai') Sai
            li
              a.dropdown-item(href='/cards/rai') Rai
            li
              a.dropdown-item(href='/cards/naa') Naa
            li
              a.dropdown-item(href='/cards/mai') Mai
            li
              a.dropdown-item(href='/cards/kaaw') Kaaw
            li
              a.dropdown-item(href='/cards/glai') Glai
            li
              a.dropdown-item(href='/cards/fan') Fan
            li
              a.dropdown-item(href='/cards/dii') Dii
            li
              a.dropdown-item(href='/cards/chin') Chin
            li
              a.dropdown-item(href='/cards/baang') Baang
        li.nav-item 
          a.nav-link.active(aria-current='page' href='/cards') All Words
